<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h3>LOGIN</h3>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()"> 
                    
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" formControlName="email" class="form-control" 
                            [ngClass]="{ 'is-invalid': submitted && f.email.errors }" 
                            placeholder="enter email here"/>
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" formControlName="password" class="form-control" 
                            [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                            placeholder="enter password here" />
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                            <div *ngIf="f.password.errors.minlength">Minimum 4 characters are allowed</div>
                            <div *ngIf="f.password.errors.maxlength">Maximum 12 characters are allowed</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
