<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <h2>Welcome, <small>{{user.name}}</small></h2><br>
                <span>Email: <small>{{user.email}}</small></span><br>
                <span>Response: <small>{{user | json}}</small></span>
            </div>
        </div>
    </div>
</div>
